fastapi
uvicorn[standard]
python-multipart
sqlalchemy
pyodbc
pydantic-settings
python-jose[cryptography]
bcrypt
qrcode[pil]
aiofiles
websockets
opencv-python
numpy
pillow
httpx
mediapipe
torch
torchvision
cryptography
python-dotenv
email-validator
ultralytics
